[submodule "Socket/athaeck-websocket-express-base"]
	url = https://github.com/NickHaecker/athaeck-websocket-express-base.git
	path = Socket/athaeck-websocket-express-base
[submodule "Calibrator/calibrating"]
	url = https://github.com/HFU-DM-free3D/calibrating.git
	path = Calibrator/calibrating